@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.figures-actions
  &__toggle
    .button__icon
      transition: 0.2s
      font-size: rem(14px)
    &.is-active
      .button__icon
        transform: rotate(180deg)
  &__box
    margin-top: 2px
    min-width: 215px
    padding: 10px
    background-color: $c-light
    border-radius: $r-primary
    color: $c-primary-1
  &__group
    &:not(:last-child)
      margin-bottom: 5px
    &-title
      margin-bottom: 5px
    &-column
      & > *
        &:not(:last-child)
          margin-bottom: 5px
