@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.sports-table-header-b
  width: 100%
  background-color: $c-alt-gray
  th
    padding: 4px 0
    text-align: center
    text-transform: uppercase
    &:nth-child(1)
      width: 30%
      padding-left: 10px
      +media-max($bp-md)
        width: 50%
    &:nth-child(2)
      width: 15%
      +media-max($bp-md)
        width: 25%
    &:nth-child(3)
      width: 10%
      +media-max($bp-md)
        width: 25%
    &:nth-child(4)
      width: 15%
    &:nth-child(5)
      width: 30%
  &__wrap
    display: flex
    justify-content: space-between
