@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.sports-schedule
  width: 100%
  background-color: $c-primary
  border-radius: $r-primary
  overflow: hidden
  &__header
    position: relative
    background-color: $c-dark
    display: flex
    justify-content: center
    align-items: center
    padding: 13px 10px
    +media-max($bp-xl)
      justify-content: space-between
    &-button
      display: none
      +media-max($bp-xl)
        position: absolute
        right: 10px
        display: block
