@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.mail-reply
  width: 100%
  background-color: $c-primary-l1
  box-shadow: $s-primary
  border-radius: $r-primary
  padding: 10px
  &__to
    display: flex
    align-items: center
    margin-bottom: 10px
    &-icon
      margin-right: 5px
      font-size: rem(14px)
  &__body
    margin-bottom: 10px
