@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.pagination
  width: 100%
  &__wrap
    display: flex
    flex-wrap: wrap
    margin: 0 -3px
  &__item
    user-select: none
    cursor: pointer
    padding: 0 5px
    border-radius: $r-primary
    margin: 3px
    min-width: 25px
    line-height: 25px
    text-align: center
    transition: 0.2s
    background-color: $c-accent-blue
    &:hover
      background-color: rgba($c-accent-blue, 0.5)
