@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.header-menu-item
  height: 100%
  padding: 0 10px
  width: 16%
  min-width: 120px
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  cursor: pointer
  transition: opacity 0.2s, background-color 0.2s
  opacity: 0.5
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      &.active
        background-color: $color
  +media-max($bp-lg)
    min-width: auto
    width: auto
    flex: 1
    padding: 0
  &:hover,
  &.active
    opacity: 1
  &__text
    margin-top: -4px
    text-transform: uppercase
    font-size: rem(14px)
    line-height: 1
    font-weight: 400
    color: $c-light
    margin-bottom: 4px
    +media-max($bp-lg)
      display: none
  &__icon
    height: 25px
    +media-max($bp-xs)
      height: 20px
