@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.pagination
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      .pagination__button
        background-color: $color
        &.is-active,
        &:hover
          background-color: rgba($color, 0.5)
        &.disabled
          background-color: $color
          color: rgba($c-light, 0.7)

  &__list
    display: flex
    align-self: center
  &__item
    &:not(:last-child)
      margin-right: 5px
  &__button
    width: 25px
    height: 25px
    color: $c-light
    border-radius: $r-primary
    font-size: rem(13px)
    display: block
    line-height: 25px
    user-select: none
    transition: 0.2s
    &.disabled
      pointer-events: none
  &__chevron
    font-size: rem(10px)
