@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.pagination
  // Color schemes
  &__list
    display: flex
    align-self: center
  &__item
    &:not(:last-child)
      margin-right: 5px
  &__button
    width: 25px
    height: 25px
    color: $c-light
    border-radius: $r-primary
    background-color: $c-accent-blue
    font-size: rem(13px)
    display: block
    line-height: 25px
    user-select: none
    transition: 0.2s
    &:hover,
    &.is-active
      background-color: rgba($c-accent-blue, 0.6)
    &.disabled
      pointer-events: none
      color: rgba($c-light, 0.7)
      &:hover
        background-color: $c-accent-blue
  &__chevron
    font-size: rem(10px)
