@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.horses-table-header
  position: relative
  background-color: $c-alt-gray
  width: 100%
  z-index: 2
  th
    padding: 11px 10px
    white-space: nowrap
  &__box
    position: relative
    display: inline-block
  &__number
    position: absolute
    top: -17px
    left: 0
    width: 100%
    text-align: center

