@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.input
  width: 100%
  background-color: $c-light
  border: 1px solid $input-border
  border-radius: $r-primary
  color: $c-primary
  padding: 10px 15px
  font-family: inherit
  font-size: rem(14px)
  line-height: 1
  transition: 0.2s
  &:placeholder
    color: rgba($c-primary, 0.8)
  &:focus
    box-shadow: 0 0 0 0.15rem rgba($c-accent-blue, .25)
  &--no-radius
    border-radius: 0
  &--invalid
    border: 1px solid $c-danger
  // Sizes
  &--xs
    padding: 2px 5px
    text-align: center
    font-size: rem(12px)
    max-width: 50px
