@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.horses-bet-slip-item
  padding: 10px
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 5px
  &__title
    text-transform: capitalize
  &__close
    font-size: rem(16px)
    line-height: 1
    transition: opacity 0.2s
    cursor: pointer
    padding: 5px
    margin-right: -5px
    &:hover
      opacity: 0.5
  &__info,
  &__details
    margin-bottom: 5px
  &__footer
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__combination
    padding: 5px 10px
    margin: 10px 10px 10px 0
    background-color: $c-primary
    pointer-events: none
  &__total
    text-align: right
    &>*:not(:last-child)
      margin-bottom: 5px
  &__amount
    padding: 2px 12px
    margin-left: 5px
    background-color: $c-primary
