@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.settings-table
  border-radius: 4px
  width: 100%
  overflow: auto
  +media-max($bp-xl)
    white-space: nowrap
  &__table
    width: 100%
    border-collapse: collapse
    text-transform: capitalize
  &__header
    background: $c-primary
    text-align: center
    th
      padding: 5px
      &:first-child
        text-align: left
  &__body
    td
      text-align: center
      padding: 5px
      &:first-child
        text-align: left
