@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.horses-bettings
  background-color: $c-primary-4
  border-radius: $r-primary
  overflow: hidden
  &__content
    margin-bottom: 20px
    padding: 10px
    padding-bottom: 40px
  &__filters,
  &__table
    margin-bottom: 20px
  &__add-bet
    display: flex
    justify-content: center
    padding-bottom: 30px
  &__limits
    width: 100%
    background-color: $c-primary
    border-radius: $r-primary
    padding: 20px 10px
