@import ~styles/abstract/variables

.sign-in
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  border: 7px solid $c-dark
  border-radius: $r-primary
  padding: 30px 20px
  &__form
    max-width: 290px
    width: 100%
    margin-bottom: 40px
