@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.active-players
  color: $c-primary-d3
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__content
    margin-bottom: 20px
    &-footer
      margin-top: 10px
  &__footer
    display: flex
    justify-content: flex-end
