@import ~styles/abstract/variables
@import ~styles/abstract/mixins
@import ~styles/abstract/grid

.sports-page
  display: flex
  flex-wrap: wrap
  width: 100%
  &__left
    width: 25%
    width: calc( 25% - 4px )
    margin: 2px
    height: 500px
  &__right
    background-color: #ccc
    width: calc( 75% - 4px )
    margin: 2px
    height: 500px
