@import ~styles/abstract/variables
@import ~styles/abstract/mixins
@import ~styles/abstract/grid

.sports-page
  display: flex
  flex-wrap: wrap
  width: 100%
  padding: 4px 2px
  &__left
    width: 25%
    padding: 0 2px
    +media-max($bp-lg)
      position: fixed
      left: 0
      top: $h-header
      width: 100%
      height: calc( 100vh - #{$h-header} )
      overflow: auto
      background-color: $c-gray
      transition: transform 0.2s
      transform: translateX(-100%)
      padding: 4px 4px
      z-index: 150
      &.is-active
        transform: translateX(0)
  &__right
    width: 75%
    padding: 0 2px
    +media-max($bp-lg)
      width: 100%

  &__search
    +media-max($bp-lg)
      margin-bottom: 4px
