@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table-item-button
  width: 100%
  height: 100%
  text-align: center
  border: 1px solid $c-alt-gray
  background-color: $c-light
  transition: 0.2s
  &:hover
    color: $c-light
    background-color: $c-accent-blue
