// Fonts
$base-font-size: 14px
$base-font-family: 'Monda', sans-serif
// Grid
$columns: 12
$gutter : 30px
$spacer: 1rem
// Containers
$cnt-xl: 1140px
$cnt-lg: 960px
$cnt-md: 720px
$cnt-sm: 540px
$cnt-xs: 100%
// Breakpoints
$bp-xl: 1170px
$bp-lg: 991px
$bp-md: 767px
$bp-sm: 575px
$bp-xs: 460px
// Maps
$containers : ( $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xs: 'xs', $bp-sm: 'sm', $bp-md: 'md', $bp-lg: 'lg', $bp-xl: 'xl' )
// Colors
$c-light  : #ffffff
$c-dark   : #495057
$c-gray   : #4c4c4c
$c-primary: #424242
$c-accent : #500000
$c-danger : red
// UI colors
$body-bg     : #eaeaea
$input-border: #ced4da
$button-bg   : linear-gradient(#c2c2c2, #2b2b2c)
// Radius
$r-primary: 4px
