@import ~shared/styles/abstract/variables

.error-indicator
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  padding: 15px
  &__icon
    margin-bottom: 20px
    font-size: 40px
    color: $c-danger
  &__button
    margin-top: 20px
