@import "~styles/abstract/variables"
@import "~styles/abstract/mixins"

.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 13px 30px 14px
  font-size: rem(14px)
  line-height: 1
  font-weight: 500
  letter-spacing: 0.02rem
  transition: 0.3s
  cursor: pointer
  user-select: none
  border-radius: $r-primary
  text-transform: uppercase
  color: $c-light
  &:hover
    opacity: 0.7
  &:focus
    box-shadow: $s-focus
  &--fluid
    width: 100%
  // Variants
  &--gradient
    background: $button-bg
  &--accent
    background: $c-accent-blue
  &--white
    background: $c-light
    color: $c-dark
  // Sizes
  &--sm
    padding: 10px 20px
  &--xs
    padding: 8px
    font-size: rem(13px)
