@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table
  background-color: $c-light
  &__item
    &:first-child
      background-color: $c-light-gray
    &:last-child
      background-color: $c-light
      border-bottom: 1px solid $c-light-gray
