@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table
  width: 100%
  border-collapse: collapse
  &__item
    &:nth-child(odd)
      background-color: $c-light-gray
    &:nth-child(even)
      background-color: $c-light
