@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.live-play
  display: flex
  flex-wrap: wrap
  margin: 0 -2px
  &__left
    width: 20%
    padding: 0 2px
    +media-max($bp-lg)
      position: fixed
      left: 0
      top: $h-header
      width: 100%
      height: calc( 100vh - #{$h-header} )
      overflow: auto
      background-color: $c-gray
      transition: transform 0.2s
      transform: translateX(-100%)
      padding: 4px
      z-index: 150
      &.is-active
        transform: translateX(0)
  &__center
    width: 50%
    padding: 0 2px
    +media-max($bp-md)
      width: 100%
  &__right
    width: 30%
    padding: 0 2px
    +media-max($bp-lg)
      width: 50%
    +media-max($bp-md)
      width: 100%
