@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.new-accounts
  &__header
    margin-bottom: 4px
  &__item
    &-content
      background-color: $c-primary-light
      padding: 10px
