@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-preview
  border-radius: $r-primary
  background-color: $c-primary
  overflow: hidden
  &__item
    &:not(:last-child)
      margin-bottom: 4px
