@import ~styles/abstract/variables

.burger
  position: relative
  display: block
  height: 40px
  width: 40px
  cursor: pointer
  border: 1px solid $c-light
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  span
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: block
    width: 20px
    height: 1px
    background-color: $c-light
    transition: 0.2s
    transition-delay: 0.2s
    &:before,
    &:after,
      position: absolute
      content: ''
      left: 0
      width: 20px
      height: 1px
      background-color: $c-light
    &:before
      top: -6px
      transform: rotate(0)
      transition: transform 0.2s, top 0.2s
      transition-delay: 0s, 0.2s
    &:after
      bottom: -6px
      transform: rotate(0)
      transition: transform 0.2s, bottom 0.2s
      transition-delay: 0s, 0.2s
  &.is-active
    span
      background-color: transparent
      transition-delay: 0s
    span:before
      top: 0
      transition-delay: 0.2s, 0s
      transform: rotate(45deg)
    span:after
      bottom: 0
      transition-delay: 0.2s, 0s
      transform: rotate(-45deg)