@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.accordion-tab
  color: $c-light
  display: flex
  align-items: center
  background-color: $c-primary
  min-height: 36px
  padding: 5px 10px
  cursor: pointer
  user-select: none
  transition: background-color 0.2s
  &:hover
    background-color: $c-primary-d1
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      &.is-active
        background-color: $color
  &--with-border
    border-bottom: 1px solid $c-primary-l1
  &__icon
    margin-right: 5px
    font-size: rem(20px)
    min-width: 20px
  &__title
    margin-right: 5px
  &__counter
    margin-left: auto
