@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.textarea
  width: 100%
  background-color: $c-light
  border: 1px solid $input-border
  border-radius: $r-primary
  color: $c-primary
  padding: 10px
  font-family: inherit
  font-size: rem(14px)
  line-height: 1
  transition: 0.2s
  resize: none
  &:placeholder
    color: rgba($c-primary, 0.8)
  &:focus
    box-shadow: 0 0 0 0.15rem rgba($c-accent-blue, .25)
  &--invalid
    border: 1px solid $c-danger
  &--transparent
    background-color: transparent
    border-color: transparent
    color: $c-light
    &:focus
      box-shadow: none
  &--p-0
    padding: 0
