@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.new-accounts
  &__header
    margin-bottom: 4px
  &__content
    overflow: hidden
    border-radius: $r-primary
  &__item
    &-content
      background-color: $c-primary-l1
      padding: 10px
      padding-bottom: 20px
