@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.list
  display: flex
  flex-direction: column
  border-radius: $r-primary
  & > *
    &:not(:last-child)
      border-bottom: none
    &:first-child
      border-radius: $r-primary $r-primary 0 0
    &:last-child
      border-radius: 0 0 $r-primary $r-primary
