.settings
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
  &__box
    border: 1px solid #1c435c
    margin-bottom: 5px
    border-radius: 4px
  &__item
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 10px
    text-transform: capitalize
    &:nth-child(even)
      background-color: #1c435c
  &__input
    width: 100%
    max-width: 60%
  &__divider
    padding-top: 10px
    margin-bottom: 10px
  &__footer
    margin-top: 20px
    display: flex
    justify-content: flex-end
    &-item
      &:not(:last-child)
        margin-right: 10px
