@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.cashier
  &__header
    margin-bottom: 4px
  &__content
    overflow: hidden
    border-radius: $r-primary
  &__item
    &-content
      border-radius:
      background-color: $c-primary-4
      padding: 10px
      padding-bottom: 20px
