@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.transaction-summary
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__content
    margin-bottom: 20px
  &__info
    margin-bottom: 20px
    border: 1px solid $c-primary-light
    border-radius: $r-primary
    &-item
      display: flex
      justify-content: space-between
      padding: 8px 10px
      &:not(:last-child)
        border-bottom: 1px solid $c-primary-light
  &__comment
    margin-bottom: 20px
    &-title
      margin-bottom: 5px
      display: flex
  &__free-play
    position: relative
    margin-bottom: 20px
    color: $c-light
    &-title
      display: flex
      align-items: center
      margin-bottom: 10px
      &>*
        margin-right: 5px
  &__actions
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 30px
  &__footer
    &-title
      text-align: center
      margin-bottom: 10px
    &-table
      border-top-left-radius: 0
      border-top-right-radius: 0
