@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.chevron
  font-size: rem(14px)
  line-height: 1
  transition: 0.2s
  color: $c-light
  &.is-active
    transform: rotate(180deg)
