.select
  &--inline
    .select__label
      height: auto
      padding-left: 0
      padding-right: 15px
      background-color: transparent
      &:before
        display: none
      &:after
        right: 0
      &:focus
        box-shadow: none
    .select__dropdown
      margin-top: 5px
    .select__option
      padding: 9px 10px

  &--fluid
    width: 100%
