@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.data-preview-modal
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__content
    margin-bottom: 20px
    &-footer
      margin-top: 10px
  &__footer
    display: flex
    justify-content: flex-end
