@import ~shared/styles/abstract/variables

.app-root
  position: relative
  z-index: 1
  &:before
    position: fixed
    content: ''
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    z-index: -10
    background-color: $c-gray
  &__content
    padding: 4px
