@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.scores-item
  background-color: $c-light
  &__header
    display: flex
    justify-content: space-between
    background-color: $c-alt-gray
    padding: 2px 5px
  &__teams
    padding: 2px 5px
  &__team
    color: $c-primary-d3
    display: flex
    align-items: flex-start
    &-icon
      width: 20px
      margin-right: 5px
