.mail-new-message
  padding: 10px
  &__header
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px
    &-line
      display: flex
      align-items: center
      width: 100%
    &-title
      width: 70px
    &-input
      text-align: left
  &__body
    margin-bottom: 20px
