.mail-new-message
  padding: 10px
  &__header
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px
    &-line
      display: flex
      align-items: center
      width: 100%
      margin-bottom: 7px
    &-title
      width: 80px
      margin-right: 10px
    &-input
      text-align: left
  &__body
    margin-bottom: 20px
