.horses-bettings-table
  &__checkbox
    position: relative
  &__number
    position: absolute
    top: -8px
    left: -8px
    font-size: 10px
    text-align: center
    user-select: none
    z-index: 2
