@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.select-agent
  border-radius: $r-primary
  background-color: $c-light
  &__header
    display: flex
    height: 40px
    align-items: center
    justify-content: space-between
    color: $c-primary-d3
  &__name
    padding: 15px
    user-select: none
    text-transform: uppercase
  &__toggle
    &-button
      color: $c-primary-d3
      font-size: rem(12px)
    &-icon
      transition: 0.2s
    &.is-active
      .select-agent__toggle-icon
        transform: rotate(180deg)

  &__box
    width: 290px
    min-width: 100%
    margin-top: 4px
    background-color: $c-light
    padding: 10px

  &__search
    margin-bottom: 10px
