@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.header-menu
  display: flex
  align-items: center
  height: 100%
  width: 100%
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      .header-menu__item.active
        background-color: $color

  &__toggler
    height: 100%
    width: 60px
    display: flex
    align-items: center
    justify-content: center
    border-right: 1px solid $c-gray
    +media-max($bp-sm)
      width: 50px
    &.is-active
      .header-menu__toggler-icon
        opacity: 1
    &-icon
      height: 25px
      opacity: 0.5
      +media-max($bp-xs)
        height: 20px
  &__items
    display: flex
    height: 100%
    flex: 1
    +media-max($bp-md)
      justify-content: space-between
  &__item
    height: 100%
    padding: 0 10px
    width: 16%
    min-width: 120px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    cursor: pointer
    transition: opacity 0.2s, background-color 0.2s
    opacity: 0.5
    +media-max($bp-lg)
      min-width: auto
      width: auto
      flex: 1
      padding: 0
    &:hover,
    &.active
      opacity: 1
  &__text
    margin-top: -4px
    text-transform: uppercase
    font-size: rem(14px)
    line-height: 1
    font-weight: 400
    color: $c-light
    margin-bottom: 4px
    +media-max($bp-lg)
      display: none
  &__icon
    height: 25px
    +media-max($bp-xs)
      height: 20px
