@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.rule-content
  width: 100%
  color: $c-light
  &__block
    margin-bottom: 10px
  &__title
    margin-bottom: 5px
  &__list
    margin-top: 0
    margin-bottom: 0
