// Fonts
$base-font-size: 14px
$base-font-family: 'Monda', sans-serif
// Grid
$columns: 12
$gutter : 20px
$spacer : 1rem
// Containers
$cnt-xl: 1140px
$cnt-lg: 960px
$cnt-md: 720px
$cnt-sm: 540px
$cnt-xs: 100%
// Breakpoints
$bp-xl : 1170px
$bp-lg : 991px
$bp-md : 767px
$bp-sm : 575px
$bp-xs : 460px
// Maps
$containers : ( $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xs: 'xs', $bp-sm: 'sm', $bp-md: 'md', $bp-lg: 'lg', $bp-xl: 'xl' )
// Colors
$c-light        : #ffffff
$c-dark         : #06171f
$c-primary      : #112836
$c-primary-light: #173649
$c-accent       : #05f887
$c-accent-blue  : #05bcf8
$c-accent-orange: #ff7803
$c-danger       : #f80505
$c-gray         : #3a4043
$c-alt-gray     : #73797c
$c-light-gray   : #e0e0e0
// Color schemes
$sch-blue  : #206798
$sch-green : #209886
$sch-red   : #982020
$sch-orange: #e1a430
$sch-colors: (blue: $sch-blue, green: $sch-green, red: $sch-red, orange: $sch-orange)
// UI colors
$body-bg     : $c-gray
$button-bg   : linear-gradient(#c2c2c2, #2b2b2c)
$overlay-bg  : rgba($c-dark, 0.8)
// Radius
$r-primary: 4px
// Sizes
$h-header: 60px
// Shadows
$s-primary: -5px 0 20px 0 rgba(0,0,0,.25)
$s-focus  : 0 0 0 0.15rem rgba($c-accent-blue,.25)
