@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.live-program-list
  width: 100%
  background-color: $c-primary-4
  &__title
    display: block
    padding: 2px 10px
