@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table-header-a
  width: 100%
  background-color: $c-dark
  text-align: center
  th
    text-align: center
    text-transform: uppercase
    padding: 2px 0
  &__item
    position: relative
    display: flex
    align-items: center
    justify-content: center
  &__icon
    color: $c-accent
    font-size: rem(12px)
    margin-left: 2px
