@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.live-markets
  width: 100%
  color: $c-light
  border-radius: $r-primary
  overflow: hidden
  background-color: $c-primary
  &__error
    background-color: $c-light
    width: 100%
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 10px
    background-color: $c-primary
  &__live
    font-size: rem(14px)
    cursor: pointer
  &__body
    padding: 15px 10px
    background-color: $c-primary-l1
  &__bets
    &:not(:last-child)
      margin-bottom: 20px
    &-type
      margin-bottom: 2px
    &-group
      display: flex
      margin: 0 -2px
      +media-max($bp-md)
        flex-wrap: wrap
    &-bet
      display: flex
      flex: 1
      min-width: 33%
      padding: 0 2px
      margin-bottom: 4px
      +media-max($bp-md)
        flex-basis: 50%
        min-width: 250px
