@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.ticket-table-item
  transition: 0.2s
  cursor: pointer
  &.is-active,
  &:hover
    background-color: rgba($c-primary, 0.5)
  td
    padding: 12px 10px
    white-space: nowrap
