@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.horses-preview
  &__row
    display: flex
    margin: 0 -2px
  &__left
    width: 20%
    padding: 0 2px
  &__center
    width: 55%
    padding: 0 2px
  &__right
    width: 25%
    padding: 0 2px
