@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.horses-preview
  &__row
    display: flex
    margin: 0 -2px
  &__left
    width: 20%
    padding: 0 2px
  &__center
    width: 60%
    padding: 0 2px
    div
      height: 500px
      background-color: $c-primary
  &__right
    width: 20%
    padding: 0 2px
    div
      height: 500px
      background-color: $c-primary
