@import ~shared/styles/abstract/variables

.burger
  position: relative
  display: block
  height: 40px
  width: 40px
  cursor: pointer
  border: 1px solid $c-light
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  &:hover
    span
  &--no-border
    border: none
    height: 20px
    width: 20px
  span
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: block
    width: 20px
    height: 1px
    background-color: $c-light
    transition: 0.2s
    &:before,
    &:after,
      position: absolute
      content: ''
      left: 0
      width: 20px
      height: 1px
      background-color: $c-light
    &:before
      top: -6px
      transform: rotate(0)
      transition: 0.2s
    &:after
      bottom: -6px
      transform: rotate(0)
      transition: 0.2s
