@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.balance-page
  &__row
    display: flex
    flex-wrap: wrap
    margin: 0 -2px
  &__left
    width: 25%
    padding: 0 2px
    +media-max($bp-xl)
      width: 100%
      margin-bottom: 20px
  &__center
    width: 50%
    padding: 0 2px
    +media-max($bp-xl)
      width: 100%
      margin-bottom: 20px
  &__right
    padding: 0 2px
    width: 25%
    +media-max($bp-xl)
      width: 100%
      margin-bottom: 20px
