@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.horses-header
  background-color: $c-primary
  padding: 10px
  padding-bottom: 20px
  &__heading
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 10px
    &-icon
      margin-right: 5px
      font-size: rem(20px)
    &-title
      margin-right: 5px
  &__pagination
    display: flex
    align-items: center
    margin-bottom: 10px
    &-title
      margin-right: 20px
  &__footer
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
  &__time
    margin-right: 10px
  &__switcher
    display: flex
    align-items: center
    cursor: pointer
    user-select: none
    &-icon
      margin-left: 5px
      transition: 0.2s
      &.is-reversed
        transform: rotate(180deg)

  &__race-details
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 0 5px
  &__race-detail
    margin: 0 5px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
  &__race-title,
  &__race-info
    text-transform: capitalize
  &__race-title
    margin-bottom: 5px
