@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins
@import ~shared/styles/abstract/grid

.home-page
  width: 100%
  overflow: hidden
  padding-top: 6px
  &__item
    &:not(:last-child)
      margin-bottom: 20px
  &__widgets
    +row()
  &__widget
    +col()
    +media-max($bp-xl)
      +col(4)
    +media-max($bp-lg)
      +col(6)
    +media-max($bp-sm)
      +col(12)
