@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.home-page
  width: 100%
  overflow: hidden
  padding-top: 6px
  &__item
    &:not(:last-child)
      margin-bottom: 40px
