@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.mail
  height: 100%
  display: flex
  flex-direction: column
  &__close
    margin: 10px
  &__content
    flex: 1
    min-height: 0
