@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.casino-navigation
  width: 100%
  background-color: $c-primary
  border-radius: $r-primary
  padding-right: 15px
  display: flex
  align-items: center
  +media-max($bp-lg)
    flex-wrap: wrap
    padding-right: 0
  &__items
    display: flex
    flex: 1
    margin-right: 15px
    +media-max($bp-lg)
      margin-right: 0
      overflow-x: auto
      width: 100%
      justify-content: center
      flex: auto
    +media-max($bp-md)
      justify-content: space-between
  &__item
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px 0 11px
    cursor: pointer
    opacity: 0.4
    transition: 0.2s
    min-width: 140px
    user-select: none
    &:hover,
    &.is-active
      opacity: 1
    &.is-active
      background-color: darken($c-primary, 5%)
  &__icon
    margin-bottom: 5px
    g
      fill: $c-light
  &__title
    white-space: nowrap
  &__search
    max-width: 270px
    margin-left: auto
    width: 100%
    +media-max($bp-lg)
      max-width: none
      width: 100%
