@import "~shared/styles/abstract/variables"
@import "~shared/styles/abstract/mixins"

.tabs
  display: flex
  flex-wrap: wrap
  &--nowrap
    width: 100%
    overflow: auto
    flex-wrap: nowrap
  &>*
    &:first-child
      border-radius: $r-primary 0 0 0
    &:last-child
      border-radius: 0 $r-primary 0 0

