@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-wager
  color: $c-dark
  // Color schemes
  @each $name, $color in $sch-colors
    &--#{$name}
      .sports-wager__header
        background-color: $color

  &__header
    padding: 3px 10px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    color: $c-light
    cursor: pointer
    user-select: none
    &-icon
      font-size: rem(14px)
      line-height: 1
      transition: 0.2s
      &.is-active
        transform: rotate(180deg)
  &__info
    display: flex
    align-items: center
    padding: 10px
    justify-content: space-between
    flex-wrap: wrap
  &__team
    display: flex
    align-items: center
    margin-right: 10px
    &-icon
      width: 25px
      margin-right: 4px
  &__bet
    border: 1px solid $c-light-gray
    padding: 2px 5px
  &__details
    padding: 0 10px 15px 10px
  &__detail
    span
      font-weight: 700
  &__footer
    padding: 10px
    border-top: 1px solid $c-light-gray
    border-bottom: 1px solid $c-light-gray
    display: flex
    align-items: center
    justify-content: space-between
  &__delete
    margin-right: 40px
    cursor: pointer
  &__inputs
    display: flex
    align-items: center
    &-title
      white-space: nowrap
      margin: 0 10px
