@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.search
  position: relative
  &--light
    .search__icon
      color: rgba($c-primary, 0.5)

  &__icon
    position: absolute
    top: 50%
    left: 13px
    transform: translateY(-50%)
    color: rgba($c-light, 0.5)
    font-size: rem(15px)
    z-index: 20
    +media-max($bp-xs)
      font-size: rem(14px)
      left: 10px
  &__input
    padding-left: 35px
    padding-right: 50px
    +media-max($bp-xs)
      padding-left: 30px
      padding-right: 10px
  &__button
    position: absolute
    top: 50%
    right: 5px
    transform: translateY(-50%)
    transition: 0.2s
    +media-max($bp-xs)
      display: none
    &.is-hidden
      opacity: 0
      visibility: hidden
