@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.transactions-item
  vertical-align: top
  td
    padding: 5px 10px
    color: $c-dark
    text-transform: capitalize
