@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.transactions-item
  vertical-align: top
  td
    padding: 5px 10px
    color: $c-primary-1
    text-transform: capitalize
