@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.personalize
  position: fixed
  right: -100%
  top: 0
  height: 100vh
  background-color: $c-primary
  width: 100%
  max-width: 350px
  z-index: 500
  padding: 15px
  box-shadow: -5px 0 20px 0 rgba(0,0,0,.25)
  transition: right 0.3s
  display: flex
  flex-direction: column
  &.is-active
    right: 0
  &__close
    margin-bottom: 20px
  &__items
    display: flex
    flex-direction: column
  &__item
    &:not(:last-child)
      margin-bottom: 10px
