@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.live-program
  background-color: $c-light
  &__spinner
    display: flex
    justify-content: center
    align-items: center
    padding: 40px
