@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.pending-wagers
  &__indicator
    background-color: $c-primary
    border-radius: $r-primary
    overflow: hidden
  &__heading
    margin-bottom: 10px
  &__table-wrap
    border: 1px solid $c-primary
    border-radius: $r-primary
    overflow: hidden
    +media-max($bp-xl)
      overflow: auto
      white-space: nowrap
  &__table
    position: relative
    &-item
      &:nth-child(even)
        background-color: rgba($c-primary, 0.5)
