@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.mail
  &__overlay
    content: ''
    background-color: rgba($c-dark, 0.5)
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 300

  // Overlay animations
  .mail-overlay-animation-enter
    opacity: 0
    transition: opacity 0.3s
  .mail-overlay-animation-enter-active
    opacity: 1
  .mail-overlay-animation-exit
    opacity: 1
    transition: opacity 0.3s
  .mail-overlay-animation-exit-active
    opacity: 0

  // Content animations
  .mail-content-animation-enter
    transform: translateX(100%)
    transition: transform 0.3s
  .mail-content-animation-enter-active
    transform: translateX(0)
  .mail-content-animation-exit
    transform: translateX(0)
    transition: transform 0.3s
  .mail-content-animation-exit-active
    transform: translateX(100%)
