@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table-header-c
  width: 100%
  background-color: $c-light
  color: $c-dark
  th
    padding: 6px 10px
  &__wrap
    display: flex
    justify-content: space-between
  &__right
    display: flex
    align-items: center
  &__icon
    margin-right: 3px
