@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.wager-type
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  padding: 0 10px
  height: 50px
  cursor: pointer
  background-color: $c-light
  color: $c-primary
  transition: 0.2s
  flex: 0 0 100px
  +media-max($bp-lg)
    flex: 1 0 70px
    padding: 0 5px

  // Color schemes
  @each $name, $color in $sch-colors
    &--#{$name}
      &.is-active
        background-color: $color
        color: $c-light
  &--accent-blue
    background-color: $c-accent-blue
    color: $c-light
  &--accent-green
    background-color: $c-accent
    color: $c-light

  &__icon
    margin-top: 5px
    font-size: rem(16px)
    margin-bottom: 2px
  &__letter
    margin-bottom: 5px
