@import "~shared/styles/abstract/variables"
@import "~shared/styles/abstract/mixins"

.tab-panel
  position: relative
  background-color: $c-primary-4
  padding: 10px
  border-radius: 0 0 $r-primary $r-primary
