@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.client-control-detail-limits
  padding-bottom: 40px
  padding-top: 5px
  &__header
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    margin-bottom: 10px
    &-item
      margin: 5px 0
      &:not(:last-child)
        margin-right: 20px
    &-select
      width: 250px
      margin-bottom: 0

  &__table
    &-title
      margin-bottom: 20px
