@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.recent-logins
  border-radius: $r-primary
  border: 1px solid $c-alt-gray
  &__item
    &:nth-child(even)
      background-color: $c-alt-gray
