@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.recent-logins
  position: relative
  border: 1px solid $c-alt-gray
  border-radius: 4px !important
  width: 100%
  min-height: 200px
  &__item
    &:nth-child(even)
      background-color: $c-alt-gray
