@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-schedule-tab
  border-bottom: 1px solid $c-primary
  // Color schemes
  @each $name, $color in $sch-colors
    &--#{$name}
      &.is-active
        .sports-schedule-tab__heading
          background-color: $color

  &__heading
    transition: 0.2s
    display: flex
    align-items: center
    background-color: $c-light
    min-height: 36px
    padding: 5px
    cursor: pointer
    user-select: none
    color: $c-dark
  &__icon
    margin-right: 5px
    font-size: rem(20px)
  &__content
    background-color: $c-light
