@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-schedule-tab
  border-bottom: 1px solid $c-primary
  &__heading
    padding:
    display: flex
    align-items: center
    background-color: $c-light
    min-height: 35px
    padding: 5px
    cursor: pointer
    user-select: none
    color: $c-dark
  &__icon
    margin-right: 5px
    font-size: rem(20px)
  &__title
    font-size: rem(18px)
    font-weight: 400
    line-height: 1
    text-transform: uppercase
  &__content
    background-color: $c-light
    padding: 5px
  &__item
    &:not(:last-child)
      margin-bottom: 5px


.sports-schedule-item
  cursor: pointer
  user-select: none
  color: $c-dark
  &__heading
    display: flex
    align-items: center
  &__checkbox
    margin-right: 5px
  &__arrow
    margin-right: 5px
  &__content
    width: 100%
