.bet-amount
  &__title
    margin-bottom: 5px
  &__wrap
    display: flex
    align-items: center
  &__input
    max-width: 80px
    margin-right: 20px
  &__buttons
    display: flex
  &__button
    &:not(:last-child)
      margin-right: 15px
