@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.horses-bettings
  background-color: $c-primary-light
  &__wrap
    padding: 10px
    margin-bottom: 20px
  &__description
    padding: 7px 0
  &__table
    margin-bottom: 20px
  &__add-bet
    display: flex
    justify-content: center
    padding-bottom: 20px
