@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.client-balance
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  background-color: $c-primary
  padding: 11px 0
  &__item
    width: 25%
    padding: 0 5px
    display: flex
    justify-content: center
