@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table-header-b
  width: 100%
  background-color: lighten($c-black, 10%)
  th
    padding: 2px 0
    text-align: center
    text-transform: uppercase
    &:nth-child(1)
      width: 30%
      padding: 0 5px
      div
        display: flex
        justify-content: space-between
      +media-max($bp-md)
        width: 50%
    &:nth-child(2)
      width: 15%
      +media-max($bp-md)
        width: 25%
    &:nth-child(3)
      width: 10%
      +media-max($bp-md)
        width: 25%
    &:nth-child(4)
      width: 15%
    &:nth-child(5)
      width: 30%
