@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.ticket-table-details
  td
    padding: 0
  &__header
    background-color: $c-alt-gray
    th
      padding: 6px 10px
      white-space: nowrap
  &__title,
  &__teams,
  &__total,
    padding: 3px 10px
  &__title
    padding-top: 10px
  &__teams
    margin-bottom: 5px
  &__boxes
    display: flex
    &:last-child
      border-bottom: 1px solid $c-alt-gray
  &__box
    flex: 1
    padding: 5px 10px
    border-top: 1px solid $c-alt-gray
    white-space: nowrap
    &:not(:last-child)
      border-right: 1px solid $c-alt-gray
