@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.live-navigation
  width: 100%
  padding: 0 15px
  background-color: $c-primary
  &__wrap
    overflow-x: auto
    display: flex
    align-items: center
  &__item
    position: relative
    padding: 10px 0
    font-size: rem(16px)
    line-height: 1
    font-weight: 400
    cursor: pointer
    color: rgba($c-light, 0.5)
    transition: 0.2s
    white-space: nowrap
    &.active
      color: $c-light
      &:after
        opacity: 1
    &:hover
      color: $c-light
    &:not(:last-child)
      margin-right: 20px
    &:after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background-color: $c-light
      transition: 0.2s
      opacity: 0
