@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.soccer-live
  background-color: $c-primary-4
  &__header
    padding: 0 5px
    border-bottom: 1px solid $c-primary
    display: flex
    align-items: center
    justify-content: space-between
    &-team
      display: flex
      align-items: center
      width: calc( 50% - 1px )
      &:first-child
        justify-content: flex-end
        text-align: right
      &:last-child
        justify-content: flex-start
    &-score
      line-height: 1
      border-bottom: 2px solid
      padding: 16px 8px
      &:first-child
        border-color: #9f009f
        margin-right: 5px
      &:last-child
        border-color: #ffffff
        margin-left: 5px

  &__preview
    padding: 20px

  &__stats-header
    border-bottom: 1px solid $c-primary
    text-align: center
    &-title
      border-bottom: 2px solid $c-light
      padding-bottom: 10px
      display: inline-block
  &__stats-wrap
    padding: 10px 0
  &__stats
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    padding: 10px 0
    &-stat
      flex: 1
      padding: 0 5px
  &__target
