@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.transactions-header
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      background-color: $color
  th
    padding: 10px
    white-space: nowrap
