@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.live-program-tab
  border-bottom: 1px solid $c-primary
  color: $c-dark
  &__heading
    display: flex
    align-items: center
    background-color: $c-light
    min-height: 36px
    padding: 5px 15px 5px 5px
    cursor: pointer
    user-select: none
    transition: background-color 0.2s
    &:hover
      background-color: darken($c-light, 8%)
  &__icon
    margin-right: 5px
    font-size: rem(20px)
    min-width: 20px
  &__title
    margin-right: 5px
  &__counter
    margin-left: auto
  &__content
    background-color: $c-light
