@import ~styles/abstract/variables

.balance-item
  min-width: 100px
  display: flex
  flex-direction: column
  justify-content: center
  text-align: right
  &__title,
  &__total
    text-transform: uppercase
    font-weight: 400
    font-size: rem(14px)
    line-height: 1
  &__title
    margin-bottom: 7px
  &__total
    &--danger
      color: $c-danger
