@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.horses-table-item
  td
    color: $c-dark
    padding: 10px
    white-space: nowrap
  &__input
    width: 40px
  &__number
    width: 24px
    height: 24px
    line-height: 24px
    text-align: center
    border-radius: $r-primary
    border: 1px solid $c-gray
