.row-group
  display: flex
  align-items: center
  flex-wrap: wrap
  & > *
    &:not(:last-child)
      margin-right: 15px
  &--sm
    & > *
      &:not(:last-child)
        margin-right: 10px
  &--nowrap
    flex-wrap: nowrap
