@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.header-widgets
  display: flex
  align-items: center
  +media-max($bp-xl)
    flex-wrap: wrap
  &__widget
    +media-max($bp-xl)
      width: 100%
    &:not(:last-child)
      margin-right: 20px
      +media-max($bp-xl)
        margin-right: 0
        margin-bottom: 10px

