@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.pending-tab
  padding-top: 10px
  padding-bottom: 40px
  &__search
    max-width: 250px
    margin-bottom: 20px
    +media-max($bp-sm)
      max-width: 100%
