@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.create-new-accounts
  &__top
    display: flex
    flex-wrap: wrap
    margin: 0 -5px
    &-item
      padding: 0 5px
      width: 33.3333%
      margin-bottom: 20px
  &__inputs
    display: flex
    flex-wrap: wrap
    margin: 0 -5px
  &__input
    padding: 0 5px
    flex: 1
    margin-bottom: 20px
  &__table
    margin-bottom: 20px
