@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-table-item
  color: $c-dark
  // Color schemes
  @each $name, $color in $sch-colors
    &--#{$name}
      td:nth-child(1)
        border-right: 2px solid $color
  &__team
    display: flex
    align-items: center
    padding: 0 5px
    &-icon
      max-width: 30px
      margin-right: 4px
  &__row
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 10px
  &__col
    width: 50%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 10px
