@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.customer-list-item
  td
    padding: 10px 5px
    &:first-child
      text-align: left
      padding-left: 10px
    &:last-child
      padding-right: 10px
  &__icon
    font-size: rem(11px)
