@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.agents-tree
  &__scroll
    max-height: 132px
    width: 100%
  &__agent
    padding: 5px
    cursor: pointer
    transition: 0.2s
    border-radius: $r-primary
    overflow: hidden
    &:hover
      background-color: $c-light-gray

