@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.header-menu
  display: flex
  align-items: center
  height: 100%
  width: 100%
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      .header-menu__item.active
        background-color: $color

  &__burger
    display: none
    +media-max($bp-xl)
      display: flex
      height: 100%
      padding: 0 10px
      align-items: center
    +media-max($bp-sm)
      padding: 0 5px
  &__wrap
    height: 100%
    width: 100%
    +media-max($bp-xl)
      position: fixed
      top: $h-header
      left: -100%
      transition: 0.2s
      height: calc( 100% - 60px )
      background-color: $c-dark
      flex-wrap: wrap
      overflow: auto
      z-index: -1
      &.is-active
        left: 0
  &__items
    display: flex
    height: 100%
    +media-max($bp-xl)
      flex-wrap: wrap
      height: auto
  &__item
    height: 100%
    padding: 0 10px
    width: 16%
    min-width: 120px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    cursor: pointer
    transition: opacity 0.2s, background-color 0.2s
    opacity: 0.5
    +media-max($bp-xl)
      height: 120px
      max-width: none
      width: 50%
    &:hover,
    &.active
      opacity: 1
    &.active
      +media-max($bp-xl)
        background-color: transparent !important
  &__text
    margin-top: -4px
    text-transform: uppercase
    font-size: rem(14px)
    line-height: 1
    font-weight: 400
    color: $c-light
    margin-bottom: 4px
  &__icon
    height: 25px
  &__button
    width: 100%
    max-width: 120px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    cursor: pointer
    transition: 0.2s
    opacity: 0.5
    &.is-active
      opacity: 1
    +media-max($bp-sm)
      padding: 0 10px
    +media-max($bp-xs)
      .header-menu__text
        display: none
