@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.primary-table
  border: 1px solid $c-alt-gray
  border-top: none
  border-radius: 4px
  width: 100%
  overflow: auto
  +media-max($bp-xl)
    white-space: nowrap

  // Variants
  &--primary
    border-color: $c-primary
    .primary-table__header
      border-color: $c-primary
      background: $c-primary
      color: $c-light
    .primary-table__row
      background-color: transparent !important
      &:not(:last-child)
        border-bottom: 1px solid $c-primary
  &--light
    border-color: $c-light-gray
    .primary-table__header
      border-bottom: 1px solid $c-light-gray
      border-top: 1px solid $c-light-gray
    .primary-table__row
      &:nth-child(even)
        background-color: $c-light-gray

  // Sizes
  &--sm
    .primary-table__header th,
    .primary-table__body td
      padding: 7px 5px

  &--center
    text-align: center
    .primary-table__header th:first-child,
    .primary-table__body td:first-child
      text-align: left

  &--aligned
    .primary-table__header th:first-child,
    .primary-table__body td:first-child
      width: 1px
      white-space: nowrap

  &__table
    width: 100%
    border-collapse: collapse
    text-transform: capitalize
  &__header
    border-bottom: 1px solid $c-alt-gray
    border-top: 1px solid $c-alt-gray
  &__header th,
  &__body td
    padding: 10px 5px
    &:first-child
      padding-left: 10px
    &:last-child
      padding-right: 10px
  &__row
    &:nth-child(even)
      background-color: $c-alt-gray
  &__empty
    text-align: center
    height: 123px
