@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.personalize
  height: 100%
  display: flex
  flex-direction: column
  &__close
    margin: 10px
  &__items
    flex: 1
    min-height: 0
    display: flex
    flex-direction: column
    padding: 10px
  &__item
    &:not(:last-child)
      margin-bottom: 10px
