@import '~styles/abstract/variables'

.dropdown-box
  display: none
  position: absolute
  top: 100%
  right: 0
  margin-bottom: 20px
  overflow: hidden
  background-color: $c-primary
  z-index: 200
  box-shadow: $s-primary
  &.is-expanded
    display: block
