@import '~styles/abstract/variables'

.dropdown-box
  position: absolute
  top: 100%
  right: 0
  margin-bottom: 20px
  overflow: hidden
  background-color: $c-primary
  box-shadow: $s-primary
  z-index: 1
// Animations
.dropdown-box-animation-enter
  opacity: 0
.dropdown-box-animation-enter-active
  opacity: 1
  transition: opacity 0.3s
.dropdown-box-animation-exit
  opacity: 1
.dropdown-box-animation-exit-active
  opacity: 0
  transition: opacity 0.3s
