@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.sports-preview
  border-radius: $r-primary
  background-color: $c-light
  overflow: hidden
  &__item
    &:not(:last-child)
      margin-bottom: 4px
