@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.table
  text-align: center
  width: 100%
  overflow: auto
  +media-max($bp-xl)
    white-space: nowrap
  &__table
    th, td
      padding: 7px 5px
      border: 1px solid $c-primary
  &__header
    background-color: $c-primary
    th
      border-color: $c-primary-l1
      border-bottom: 0
  &__title
    background-color: $c-primary-d1
  &__target
    background-color: $c-primary
    th
      border-color: $c-primary-l1
      border-bottom: 0
  &__row
    border-bottom: 1px solid $c-primary
    &:nth-child(2n)
      border-bottom: 4px solid $c-primary
  &__empty
    text-align: center
    height: 123px
