@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.sports-header-d
  display: flex
  background-color: $c-primary-3
  text-transform: uppercase
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1px 4px
  &__right
    display: flex
    justify-content: flex-end
    align-items: center
  &__icon
    font-size: rem(12px)
    margin-right: 3px
