@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.notification
  position: fixed
  top: 4px
  right: 4px
  width: 100%
  max-width: 400px
  z-index: 10000
  background-color: $c-accent-orange
  padding: 10px 20px 20px 0
  display: flex
  overflow: hidden
  border-radius: $r-primary
  cursor: pointer
  &__close
    position: absolute
    top: 10px
    right: 10px
  &__indicator
    position: absolute
    left: 0
    bottom: 1px
    height: 4px
    border-radius: $r-primary
    background-color: $c-light
    width: 0
    animation: widthAnimation linear 3s
  &__left
    padding: 0 10px
    display: flex
    align-items: center
  &__icon
    width: 30px
    height: 30px
    background-color: $c-light
    font-size: rem(16px)
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    color: $c-accent-orange
  &__right
    flex: 1
  &__title
    margin-bottom: 5px

@keyframes widthAnimation
  from
    width: 0
  to
    width: 100%

// Animations
.notification-animation-enter
  opacity: 0
.notification-animation-enter-active
  opacity: 1
  transition: opacity 0.5s
.notification-animation-exit
  opacity: 1
.notification-animation-exit-active
  opacity: 0
  transition: opacity 0.5s

