@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-schedule-item
  cursor: pointer
  user-select: none
  color: $c-dark
  &__heading
    display: flex
    align-items: center
  &__checkbox
    margin-right: 5px
  &__arrow
    margin-right: 5px
  &__content
    width: 100%
