@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-schedule-item
  border-bottom: 1px solid $c-primary
  // Color schemes
  @each $name, $color in $sch-colors
    &--#{$name}
      &.is-active
        .sports-schedule-item__heading
          background-color: $color
  &__content
    padding-bottom: 5px
    background-color: $c-light
