.row-group
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: -2px -5px !important
  &--center
    justify-content: center
  & > *
    margin: 2px 5px !important
  &--sm
    margin: -2px -4px !important
    & > *
      margin: 2px 2px !important
  &--nowrap
    flex-wrap: nowrap
