@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.customer-list
  overflow: auto
  &__header
    margin-bottom: 4px
  &__table
    margin-bottom: 20px
  &__footer
    display: flex
    justify-content: flex-end
