@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.sports-schedule-item
  // Color schemes
  @each $name, $color in $sch-colors
    &.theme-#{$name}
      &.is-active
        .sports-schedule-item__heading
          background-color: $color
  &__content
    padding-bottom: 5px
    background-color: $c-primary-l1
