@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.figures
  &__header
    margin-bottom: 20px
  &__table
    margin-bottom: 20px
  &__footer
    display: flex
    justify-content: flex-end
