@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.mail-box
  &__control
    display: flex
    justify-content: space-between
    padding: 10px
  &__item
    margin-bottom: 1px
