@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.sports-header-c
  display: flex
  background-color: $c-primary-2
  text-transform: uppercase
  padding: 2px 0
  &__left
    display: flex
    align-items: center
    justify-content: space-between
