@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.weekly-figures
  &__heading
    margin-bottom: 10px
  &__select
    margin-bottom: 5px
  &__items
    background-color: $c-primary
    border-radius: $r-primary
    overflow: hidden
  &__item
    display: flex
    align-items: center
    justify-content: space-between
    padding: 12px 10px
    text-transform: capitalize
    &:nth-child(even)
      background-color: $c-primary-l1
