@import ../abstract/variables
@import ../abstract/mixins

// Default display styles
.d-none
  display: none !important
.d-block
  display: block !important
.d-flex
  display: flex !important
.d-inline-flex
  display: inline-flex !important

// Responsive display styles
@each $bp, $name in $breakpoints
  +media-min($bp)
    .d-#{$name}-none
      display: none !important
    .d-#{$name}-block
      display: block !important
    .d-#{$name}-inline-flex
      display: inline-flex !important
