@import ~shared/styles/abstract/variables
@import ~shared/styles/abstract/mixins

.tab
  font-size: rem(14px)
  line-height: 1
  padding: 15px
  background-color: $c-primary
  text-align: center
  user-select: none
  cursor: pointer
  white-space: nowrap
  transition: background-color 0.2s
  text-transform: capitalize
  color: $c-light
  &:hover,
  &.is-active
    background-color: $c-primary-4
